body {
    background: url('../images/hexagonal-camo.png');
}

.front {
    z-index: 999;
}

.file-preview {
    display: none;
    transition: all 330ms ease-in-out;
    width: 128px;
    height: 128px;
    cursor: zoom-in;
}

.has-preview .file-preview {
    display: block;
}

.file-preview.expanded {
    width: 512px;
    height: 512px;
    cursor: zoom-out;
}

.has-preview .file-metadata {
    margin-left: 144px;
}

.has-preview.file-info {
    min-height: 180px;
}

.hide-other-licenses .other-licenses {
    display: none;
}

.pre-wrap {
    white-space: pre-wrap;
}